@media only screen and (max-width: 600px) {
  .swiper {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .swiper {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.swiper div:nth-child(4) {
  display: none;
}
